<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Krishnakanth Yachareni</h2>
      <h4>yacharenikrishnakanth@gmail.com</h4>
    </div>
    <img src="./assets/images/me.jpg" alt="Krishnakanth Yachareni">
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>
    Dashboard</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

</mat-nav-list>
